a{
    text-decoration: none;
}


.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 50px;
}

.header h3{
    font-size: 50px;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
}

.header .cart_box i{
    font-size: 30px;
    color: #000;
}

.content .card{
    width: 100%;
}

.content .card img{
    height: 300px;
}

.cart{
    padding: 80px 0;
}

.cart .item{
    padding: 0 30px;
    width: 100%;
    height: 120px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartItem{
    width: 100%;
    height: 120px;
    height: max-content;
    border: 1px solid #000;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}